ClientTestForm/Connected Services/WCFServer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestService" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_plus_InputMessage">
    <wsdl:part name="parameters" element="tns:plus" />
  </wsdl:message>
  <wsdl:message name="ITestService_plus_OutputMessage">
    <wsdl:part name="parameters" element="tns:plusResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_minus_InputMessage">
    <wsdl:part name="parameters" element="tns:minus" />
  </wsdl:message>
  <wsdl:message name="ITestService_minus_OutputMessage">
    <wsdl:part name="parameters" element="tns:minusResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_mal_InputMessage">
    <wsdl:part name="parameters" element="tns:mal" />
  </wsdl:message>
  <wsdl:message name="ITestService_mal_OutputMessage">
    <wsdl:part name="parameters" element="tns:malResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_geteilt_InputMessage">
    <wsdl:part name="parameters" element="tns:geteilt" />
  </wsdl:message>
  <wsdl:message name="ITestService_geteilt_OutputMessage">
    <wsdl:part name="parameters" element="tns:geteiltResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="plus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/plus" message="tns:ITestService_plus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/plusResponse"
                   message="tns:ITestService_plus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="minus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/minus" message="tns:ITestService_minus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/minusResponse"
                   message="tns:ITestService_minus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mal">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/mal" message="tns:ITestService_mal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/malResponse"
                   message="tns:ITestService_mal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="geteilt">
      <wsdl:input wsaw:Action="http://tempuri.org/ITestService/geteilt" message="tns:ITestService_geteilt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITestService/geteiltResponse"
                   message="tns:ITestService_geteilt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITestService" type="tns:ITestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="plus">
      <soap:operation soapAction="http://tempuri.org/ITestService/plus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="minus">
      <soap:operation soapAction="http://tempuri.org/ITestService/minus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mal">
      <soap:operation soapAction="http://tempuri.org/ITestService/mal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="geteilt">
      <soap:operation soapAction="http://tempuri.org/ITestService/geteilt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port name="BasicHttpBinding_ITestService" binding="tns:BasicHttpBinding_ITestService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFTest/TestService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>